*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: sans-serif;
}


.navbar{
  position: sticky;
  top:0;
  right:0;
  left:0;
  font-size: 18px;
  background-color:#182C61;
  padding-bottom: 10px;
}
.navbar-toggle i{
  color:white;
  margin-top: .8rem;
}

.main-nav{
  list-style-type: none;
}

.nav-links,.logo{
  text-decoration: none;
  color:white;
}

.main-nav li{
  text-align:center;
  margin:15px auto;
}
.main-nav li a{
  color: white;
}

.main-nav li a:hover{
  color:red;
  cursor: pointer;
}

.logo{
 font-family: 'Roboto', sans-serif;
 color: white;
  font-size:1.2rem;
  margin-top:0;
  margin-left: 20px;
}
.logo img{
  border-radius: 8%;
  margin-top: 1em;
  height:2em;
  width:2em;
}

.navbar-toggle{
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: black;
  font-size: 2rem;
}

.main-nav{
  list-style-type: none;
  display: none;
}
.active{
  display: block;
}
