body{
  margin:0;
  padding:0;
  background-size: cover;
}


@media only screen and (min-width:300px){
  .fulldetails{
    display: flex;
    flex-direction:column;
}
  .fulldetails img{
    height: 41rem;
    width:100%;
  }
}
@media only screen and (min-width:900px){
.fulldetails{
  align-items: center;
}
  .fulldetails img{
    height: 40rem;
    width:80%;
  }

}
