body{
  margin:0;
  padding:0;
  background: #648880;
    background: linear-gradient(to right, #f6f1d3,white 30%, #b8e994);
    background-size:cover;
    background-position: center;
background-attachment: fixed;
}
.Top-heading{
  margin-top: 8%;
  border-bottom: 1px solid black;
  color: black;
}
.Top-heading h1{
  text-align: center;
  line-height: 2em;
  font-style: italic;
}
.papoa{
  background:rgba(0,0,0,0);

}
.papoa p{
 padding: 10px;
  color:black;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  margin-top: 5%;
}

.details{
  margin-top: 10%;
  color:black;
  font-size:1.5em;
  font-style: italic;
  text-align: center;
}

.det-table{
  max-width:1400px;
  margin:auto;
  display:flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2%;
}

.col{

  flex:100%;
  padding:20px;
  max-width: 500px;
  box-sizing: border-box;
}


.table{
  background: rgba(0, 0, 0, 0.8);
  padding:80px 10px;
  position: relative;
  overflow: hidden;
}

.table h2{
  color:white;
  font-style: italic;
}

.table h3{
  color:#F8EFBA;
  font-style: italic;
}

.table p{
  color:white;

}

.new-up h1{
  color: white;
  text-align: center;
  margin-top: 15%;
  font-style: italic;
  font-size: 80px;
}
.date{
  margin-top: 12%;
  border-bottom: 2px solid;
}
.box-news {
 font-style: italic;
  box-sizing: border-box;
  font-size: 2em;
  margin: 6em 20% 0 20%;
  text-align: left;
}
@media screen and (max-width:400px)
{
  .details{
    margin-top:7em;
  }
}
